<!-- <div>
  <div class="d-flex align-items-center flex-column mb-5">
    <h2 class="fw-lighter column">POWERED BY</h2>
    <br />
    <H1 class="fw-light"
      >AWESO<U
        style="
          text-decoration: underline;
          text-decoration-color: #f9e1e2;
          text-underline-offset: 15px;
        "
        >ME</U
      >
      TEAM</H1
    >
  </div>
  <div class="d-flex flex gap-2 justify-content-center">
    <p-card
      header="HULK SMITH"
      subheader="Card Subheader"
      [style]="{ width: '300px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="https://picsum.photos/200/200" />
      </ng-template>
    </p-card>
    <p-card
      header="HULK SMITH"
      subheader="Card Subheader"
      [style]="{ width: '300px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="https://picsum.photos/200/200" />
      </ng-template>
    </p-card>
    <p-card
      header="HULK SMITH"
      subheader="Card Subheader"
      [style]="{ width: '300px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="https://picsum.photos/200/200" />
      </ng-template>
    </p-card>
    <span>
      <a class="pi pi-facebook" href="facebook.com" target="_blank">a</a>
      <a class="pi pi-twitter" href="twitter.com" target="_blank"></a>
      <a class="pi pi-tumblr" href="tumblr.com" target="_blank"></a>
      <a class="pi pi-linkedin" href="linkedin.com" target="_blank"></a>
    </span>
    <p-card
      header="HULK SMITH"
      subheader="Card Subheader"
      [style]="{ width: '300px' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="https://picsum.photos/200/200" />
      </ng-template>
    </p-card>
  </div>
</div> -->
<div class="d-flex flex-row row mt-0 ml-0">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Frame-105.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="../../assets/Frame-106.png" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <footer class="d-flex gap-2 container flex-column">
    <div class="row">
      <div class="col-3 logo">
        <div class="d-flex flex-column gap-2 ml-5">
          <img src="../../assets/icon-logo.svg" alt="" />
          <p style="color: rgb(255, 255, 255)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
            facilis, quibusdam culpa animi earum accusamus ut dolore quia
            blanditiis qui ex et minus molestias tenetur distinctio tempora ad
            ullam asperiores.
          </p>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <a href="#">Browse Our Website</a>
          <a href="#">Home</a>
          <a href="#">Shop</a>
          <a href="#">Category</a>
          <a href="#">About Us</a>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <a href="#">Contact Us</a>
          <span>
            <a class="pi pi-envelope"> </a><a href="#"> Help@robin.com</a>
          </span>
          <span
            ><a href="#" class="pi pi-linkedin"> </a
            ><a href="#"> RobinFurni</a></span
          >
          <span
            ><a href="#" class="pi pi-phone"> </a
            ><a href="#"> (1245)2456 012</a></span
          >
          <span
            ><a href="#" class="pi pi-twitter"></a
            ><a href="#"> @RobinFurni</a></span
          >
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <a href="#">Address</a>
          <div class="container d-flex flex-row align-items-center">
            <img
              class="icon-map"
              src="../../assets/icon-map.svg"
              width="50px"
            />

            <a href="#" class="col-10 alamat"
              >944 Edgewood Ave South Jacksonville FL 32205-5341</a
            >
          </div>
          <a href="#">Download Apps at:</a>
          <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
          <a
            href="https://apps.apple.com/us/app/happy-rise/id1039686457?itsct=apps_box_badge&amp;itscg=30200"
            style="
              display: inline-block;
              overflow: hidden;
              border-radius: 13px;
              width: 250px;
              height: 83px;
            "
            ><img
              src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1443398400&h=ffdcc47a07ebdaff8284225175692b18"
              alt="Download on the App Store"
              style="border-radius: 13px; width: 250px; height: 83px"
          /></a>
        </div>
      </div>
    </div>
  </footer>
</div>
