<div class="d-flex align-items-center flex-column">
  <h1>id: {{ item[0].id }}</h1>
  <h1>name: {{ item[0].name }}</h1>
  <p>city: {{ item[0].city }}</p>
</div>
<button pButton routerLink="/passenger">Back to passenger</button>
