<div class="container">
  <form [formGroup]="formInput" (ngSubmit)="onSubmit()">
    <label for="">Email</label><br />
    <input type="text" name="email" formControlName="email" />
    <br />

    <label for="">Password</label><br />
    <input type="password" name="password" formControlName="password" />
    <br />

    <button pButton type="submit" value="Login"></button>
  </form>
</div>
