<div class="body">
  <div class="ngantuk">
    <p class="form-label fw-lighter">Masukan Data Anda!</p>
    <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" > -->
    <form class="formog" (ngSubmit)="onSubmit()" [formGroup]="passengerForm">
      <div class="mb-3">
        <input
          name="id"
          type="text"
          placeholder="input id"
          class="form-label fw-lighter"
          minlength="1"
          formControlName="id"
        />
      </div>
      <div class="mb-3">
        <input
          name="name"
          type="text"
          placeholder="Your Name"
          class="form-label fw-lighter"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <input
          class="form-label fw-lighter"
          placeholder="Your City"
          name="city"
          type="text"
          formControlName="city"
        />
      </div>

      <button pButton type="submit">
        {{ isEdit ? "Edit" : "Submit" }}
      </button>
    </form>
  </div>
  <div>{{ users | async | json }}</div>
  <table class="table table-striped table-hover form-label fw-lighter">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nama</th>
        <th scope="col">Kota</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | async">
        <td scope="row">{{ item.id }}</td>
        <td scope="row">{{ item.name }}</td>
        <td scope="row">{{ item.city }}</td>
        <td scope="row" class="action">
          <div>
            <button pButton class="p-button-success" routerLink="{{ item.id }}">
              View
            </button>
            <!-- <button
              [swal]="deleteSwal"
              pButton
              class="p-button-danger"
              (confirm)="deleteFile(item.id)"
            >
              Delete
            </button> -->
            <swal
              #deleteSwal
              title="Beneran nih mau hapus {{ item.name }}?"
              [showCancelButton]="true"
              etc
            ></swal>
          </div>
          <div>
            <!-- <button pButton class="p-button-secondary" (click)="edit(item.id)">
              Edit
            </button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
