<div
  class="top-nav d-flex flex-row ml-2 justify-content-center align-items-center gap-2"
  *ngIf="router.url === '/about-us'"
>
  <div class="col alamat justify-content-center align-items-center ml-2">
    <img class="icon-map" src="../../assets/icon-map.svg" />
    <span class="fw-light text text-white"
      >VISIT US 944 Edgewood Ave South Jacksonville FL 32205-5341</span
    >
  </div>
  <div class="d-flex justify-content-center align-items-center gap-2">
    <img src="../assets/icon-fb.svg" alt="" width="10px" />
    <img src="../assets/icon-twitter.svg" alt="" width="20px" />
    <img src="../assets/icon-linkedin.svg" alt="" width="20px" />
    <img src="../assets/icon-yt.svg" alt="" width="20px" />
    <img src="../assets/icon-market.svg" alt="" width="20px" />
    <div class="vr"></div>
    <a href="#" class="">CONTACT US</a>
    <div class="vr"></div>

    <a href="#" class="">
      <img src="../assets/icon-phone.svg" alt="" /> (1245) 2456 012
    </a>
    <div class="vr"></div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="../assets/icon-logo.svg" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="passenger">Passengers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us">tugas primeng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">Contact Us!</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
