b {
  border-top: 5px solid #f6b001;
}
body {
  font-family: Poppins;
}
.top-nav {
  width: 100%;
  height: 40px;
  background-color: #334889;
}

.vr {
  width: 3px;
  color: white;
  height: 100%;
  margin-left: 5px;
  justify-content: center;
}
