/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: #334889;
}
div .col-3 {
  row-gap: 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
div .col-3 img {
  width: 185px;
  height: 80px;
}
div .col-3 .logo {
  display: flex;
}
